@import "tailwindcss/base";

@layer base {
  @import "tailwindcssPreflight.css";
  @import "tinymceContentStyle.css";

  body {
    margin: 0;
  }

  a {
    @apply hover:underline active:text-quinary-darker;
  }

  *:focus,
  button:focus {
    outline: 2px solid #81b214;
    outline-offset: 2px;
    animation: outline-anim ease 0.1s;
  }

  @keyframes outline-anim {
    0% {
      outline-offset: 10px;
      outline-width: 5px;
    }
  }

  .using-mouse :focus {
    outline: none;
  }
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
